@page
@model WEBFurniTOOLS.Pages.ProdavacRP.IzmeniProizvodModel
@{
    Layout="_LayoutProdavac";
}
@section ImeProdavca{
  @Model.getUserString("imeProdavca") @Model.getUserString("prezimeProdavca") 
}
@section MailProdavca{

  @Model.getUserString("emailProdavca") 
}
<style>
        h1{
        margin-top: 5%;
    }
</style>
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" asp-for="proizvodZaIzmenu.Sifra">
        <input type="hidden" asp-for="idProizvod">
        <input type="hidden" asp-for="proizvodZaIzmenu.ID">
        <h1>Izmeni proizvod</h1>
        <img src="@Model.proizvodZaIzmenu.URLSlike" class="img-fluid" alt="Responsive image">
        <div id='sakriven' asp-validation-summary="All"></div>
        <div>@Model.ErrorMessage1</div>
        <div>@Model.ErrorMessage2</div>

        

        <input style="float: right;" type="hidden" asp-for="Ja.ID">
        <input style="float: right;" type="hidden" asp-for="Ja.Ime">
        <input style="float: right;" type="hidden" asp-for="Ja.Prezime">
        <input style="float: right;" type="hidden" asp-for="Ja.Email">
        <input style="float: right;" type="hidden" asp-for="Ja.Sifra">
        <input style="float: right;" type="hidden" asp-for="Ja.BrojTelefona">
        <input style="float: right;" type="hidden" asp-for="Ja.Adresa">
        <input style="float: right;" type="hidden" asp-for="Ja.Grad">
        <input style="float: right;" type="hidden" asp-for="Ja.Firma">
        <input style="float: right;" type="hidden" asp-for="Ja.Verifikovan">
        <div style="margin-top: 10px" class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic1">Naziv : </span>
            </div>
            <input type="text" class="form-control" asp-for="proizvodZaIzmenu.Naziv" aria-describedby="basic1">
        </div>

       

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic3">Povrsina pod štofom : </span>
            </div>
            <input class="form-control" step="any" type="number" asp-for="proizvodZaIzmenu.PovrsinaMaterijala" aria-describedby="basic3">
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic4">Visina baze : </span>
            </div>
            <input class="form-control" type="number" asp-for="proizvodZaIzmenu.VisinaBaze" aria-describedby="basic4">
        </div>



        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic5">Visina naslona : </span>
            </div>
            <input class="form-control" type="number" asp-for="proizvodZaIzmenu.VisinaNaslona" aria-describedby="basic5">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic6">Cena po komadu : </span>
            </div>
            <input class="form-control" type="number" asp-for="proizvodZaIzmenu.CenaPoKomadu" aria-describedby="basic6">
        </div>

        

        <div style="margin-top: 10px" class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic1">Slika proizvoda : </span>
            </div>
            <input type="text" class="form-control" asp-for="proizvodZaIzmenu.URLSlike" aria-describedby="basic1">
        </div>

       

        <input style="margin-top: 20px;float: right;" class="btn btn-warning" type="submit" asp-page-handler="Izmeni" value="Izmeni proizvod">


    </form>
</div>
    @if(@Model.Ucitano==false)
    {
    <script>
        var nesto = document.getElementById("sakriven");
        nesto.innerText="";
    </script>
    Model.Ucitano=true;
    }