@page
@model WEBFurniTOOLS.Pages.ProdavacRP.IzmeniStofModel
@{
  Layout="_LayoutProdavac";
}
@section ImeProdavca{
  @Model.getUserString("imeProdavca") @Model.getUserString("prezimeProdavca") 
}
@section MailProdavca{

  @Model.getUserString("emailProdavca") 
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>



<div class="container">

  <img src="@Model.stofZaIzmenu.URLSlike" class="img-fluid" alt="Responsive image">
    <div id="sakriven" asp-validation-summary="All"></div>
    <div >@Model.ErrorMessage1</div>
    <div >@Model.ErrorMessage2</div>
    <div >@Model.ErrorMessage3</div>

<form method="POST" enctype = "multipart/form-data">

    <input type="hidden" asp-for="stofZaIzmenuID">
    @* <label style="float: right;margin-top: 10px;" >Dodaj novi tip štofa :</label>
    <input style="float: right;margin-top: 10px;"  type="text" asp-for="tipZaDodavanje.SifraStofa">
    <button style="float: right;margin-top: 10px;" type="submit" class="btn btn-warning" asp-page-handler="Dodaj">Dodaj tip</button> *@

<div style="margin-top: 10px"  class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="bas">Dodaj novi tip štofa : </span>
        </div>
        <input type="text" asp-for="tipZaDodavanje.SifraStofa" class="form-control"  aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2" asp-page-handler="Dodaj">Dodaj tip</button>
        </div>
    </div>


 

</form>
<form method="POST" enctype = "multipart/form-data">
    
    <input style="float: right;" type="hidden" asp-for="Ja.ID">
    <input style="float: right;" type="hidden" asp-for="Ja.Ime">
    <input style="float: right;" type="hidden" asp-for="Ja.Prezime">
    <input style="float: right;" type="hidden" asp-for="Ja.Email" >
    <input style="float: right;" type="hidden" asp-for="Ja.Sifra">
    <input style="float: right;" type="hidden" asp-for="Ja.BrojTelefona">
    <input style="float: right;" type="hidden" asp-for="Ja.Adresa">
    <input style="float: right;" type="hidden" asp-for="Ja.Grad">
    <input style="float: right;" type="hidden" asp-for="Ja.Firma">
    <input style="float: right;" type="hidden" asp-for="Ja.Verifikovan">
        <input style="float: right;" type="hidden" asp-for="idStof">
        <input type="hidden" asp-for="stofZaIzmenuID">
        <input type="hidden" asp-for="stofZaIzmenu.URLSlike">



    @*PROVERIIII*@
        @*<input type="hidden" asp-for="stofZaIzmenu.ProdavacID">*@




        <input type="hidden" asp-for="stofZaIzmenu.ID">
        @* <label style="float: right;margin-top: 10px;">Naziv štofa :</label>
        <input  style="float: right;margin-top: 10px;"type="text" asp-for="stofZaIzmenu.Naziv">
        <label style="float: right;margin-top: 10px;">Cena po metru kvadratnom :</label>
        <input style="float: right;margin-top: 10px;" type="number" asp-for="stofZaIzmenu.CenaPoMetruKvadratnom"> *@
        @* <input  style="float: right;margin-top: 10px;"type="checkbox" asp-for="PromeniSliku">
        <label style="float: right;margin-top: 10px;">Slika :</label>
        <input style="float: right;margin-top: 10px;" class="btn btn-warning" type="file" asp-for="SlikaStofa">
        <button style="float: right;margin-top: 10px;" class="btn btn-warning" type="submit" asp-page-handler="Izmeni">Izmeni štof</button>
        <label style="float: right;margin-top: 10px;">Svi tipovi štofa :</label>
        @foreach (var tip in @Model.tipoviStofa)
        {
            <div style="display: flex;flex-direction: row;justify-content: space-evenly;"> 
              <div style="margin-top: 10px;width: 100px;float: right;">
                <label>@tip.SifraStofa</label>
              </div>
              <div>
                <input style="float: right;" class="btn btn-warning" type="submit" asp-page-handler="Obrisi" asp-route-idTip="@tip.ID" value="Obrisi">
              </div>
            </div>
        } *@

         <div style="margin-top: 10px" class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic1">Naziv štofa : </span>
            </div>
            <input type="text" class="form-control" asp-for="stofZaIzmenu.Naziv"  aria-describedby="basic1">
        </div>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic2">Cena po metru kvadratnom :</span>
        </div>
        <input class="form-control" type="number" asp-for="stofZaIzmenu.CenaPoMetruKvadratnom"  aria-describedby="basic2">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic7">Promeni sliku ? </span>
        </div>
        <input id="cena"type="checkbox" data-toggle="toggle" data-onstyle="warning" data-style="slow" data-offstyle="danger" asp-for="PromeniSliku" aria-describedby="basic7">
    </div>

    <div class="input-group mb-3">
        <div style="height: 38px;" class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Slika : </span>
        </div>
        <div class="custom-file">
            <input type="file" asp-for="SlikaStofa" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Odaberite fajl</label>
        </div>
    </div>
    <script>
            $('#inputGroupFile01').on('change',function(){
                //get the file name
                var fileName = $(this).val().replace('C:\\fakepath\\', " ");
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
        </script>

        <button style="float: right;margin-bottom: 10px"  class="btn btn-warning" type="submit" asp-page-handler="Izmeni">Izmeni štof</button>
        <label >Svi tipovi štofa : </label>
        
        @foreach (var tip in @Model.tipoviStofa)
        {
            @* <div style="display: flex;flex-direction: row;justify-content: space-evenly;"> 
              <div style="margin-top: 10px;width: 100px;float: right;">
                <label>@tip.SifraStofa</label>
              </div>
              <div>
                <input style="float: right;" class="btn btn-warning" type="submit" asp-page-handler="Obrisi" asp-route-idTip="@tip.ID" value="Obrisi">
              </div>
            </div> *@


            <div class="input-group mb-3">
              <input type="text" class="form-control" value="@tip.SifraStofa" aria-label="Recipient's username" aria-describedby="button-addon2" disabled>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" asp-page-handler="Obrisi" asp-route-idTip="@tip.ID" id="button-addon22">Obrisi</button>
              </div>
            </div>
        }
       
    
</form>
</div>
    @if(@Model.Ucitano==false)
    {
    <script>
        var nesto = document.getElementById("sakriven");
        nesto.innerText="";
    </script>
    Model.Ucitano=true;
    }
