@page
@model WEBFurniTOOLS.Pages.ProdavacRP.PrikazNarudzbineModel
@{
    Layout = "_LayoutProdavac";
}
@section ImeProdavca{
    @Model.getUserString("imeProdavca") @Model.getUserString("prezimeProdavca")
}
@section MailProdavca{

    @Model.getUserString("emailProdavca")
}


<style>
        h1{
        @* margin-left: 40%; *@
        margin-top: 5%;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
<form method="post">

    <!--<input style="float: right;" type="hidden" asp-for="idKupac">
    <input style="float: right;" type="hidden" asp-for="ProizvodID">
    <input style="float: right;" type="hidden" asp-for="ProdavacID">
    <input style="float: right;" type="hidden" asp-for="Ja.Adresa">
    <input style="float: right;" type="hidden" asp-for="Ja.BrojTelefona">
    <input style="float: right;" type="hidden" asp-for="Ja.Email">
    <input style="float: right;" type="hidden" asp-for="Ja.Grad">
    <input style="float: right;" type="hidden" asp-for="Ja.Ime">
    <input style="float: right;" type="hidden" asp-for="Ja.Prezime">
    <input style="float: right;" type="hidden" asp-for="Ja.Sifra">
    <input style="float: right;" type="hidden" asp-for="Proizvod.Naziv">
    <input style="float: right;" type="hidden" asp-for="Proizvod.PovrsinaMaterijala">
    <input style="float: right;" type="hidden" asp-for="Proizvod.Sifra">
    <input style="float: right;" type="hidden" asp-for="Proizvod.URLSlike">
    <input style="float: right;" type="hidden" asp-for="Proizvod.VisinaBaze">
    <input style="float: right;" type="hidden" asp-for="Proizvod.VisinaNaslona">
    <input style="float: right;" type="hidden" asp-for="Proizvod.CenaPoKomadu">
    <input style="float: right;" type="hidden" asp-for="Proizvod.MojProdavac_.Firma">
    <input style="float: right;" type="hidden" asp-for="Proizvod.MojProdavac_.Ime">
    <input style="float: right;" type="hidden" asp-for="Proizvod.MojProdavac_.Prezime">-->
    @* <div style="display:flex;flex-direction: row;">
        <div style="display:flex;flex-direction: column; margin-left: 10%; width: 250px;margin-top: 15%;">
            <img src="@Model.Proizvod.URLSlike" width="400px" height="300px">
        </div> *@

    @* <div style="display:flex;flex-direction: column; margin-left: 30%; width: 250px;"> *@
    <div class="container">
        <h1>Moja narudzbina</h1>
        <img src="@Model.Narudzbina.NarucenProizvod_.URLSlike" class="img-fluid" alt="Responsive image">
        <div></div>

        <input type="hidden" asp-for="Narudzbina.ID" />




        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic2">Ime kupca : </span>
            </div>
            <input type="text" class="form-control" asp-for="Narudzbina.ProfilKorisnika_.Ime" aria-describedby="basic2" disabled>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic3">Mail : </span>
            </div>
            <input type="text" class="form-control" asp-for="Narudzbina.ProfilKorisnika_.Email" aria-describedby="basic3" disabled>
        </div>

        <div style="margin-top: 10px" class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic1">Naziv proizvoda : </span>
            </div>
            <input type="text" class="form-control" asp-for="Narudzbina.NarucenProizvod_.Naziv" aria-describedby="basic1" disabled>
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic333">Visina baze : </span>
            </div>
            <input type="text" class="form-control" asp-for="Narudzbina.NarucenProizvod_.VisinaBaze" aria-describedby="basic333" disabled>
        </div>    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic3333">Visina naslona : </span>
            </div>
            <input type="text" class="form-control" asp-for="Narudzbina.NarucenProizvod_.VisinaNaslona" aria-describedby="basic3333" disabled>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic4">Povrsina pod stofom : </span>
            </div>
            <input type="text" class="form-control" asp-for="Narudzbina.NarucenProizvod_.PovrsinaMaterijala" aria-describedby="basic4" disabled>
        </div>




        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic4">Status : </span>
            </div>
            <input type="text" class="form-control" asp-for="Narudzbina.Status" aria-describedby="basic4" disabled>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic5">Kolicina : </span>
            </div>
            <input type="number" class="form-control" asp-for="Narudzbina.Kolicina" value="1" min="1" aria-describedby="basic5" disabled>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic6">Rok potvrde : </span>
            </div>
            <input type="date" id="r2" class="form-control" asp-for="Narudzbina.RokZaPotvrdu" aria-describedby="basic6" disabled>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic7">Krajnji rok isporuke : </span>
            </div>
            <input type="date" id="r1" class="form-control" asp-for="Narudzbina.KrajnjiRokIsporuke" aria-describedby="basic7" disabled>
        </div>

        @* <label style="float: right;" >Štof: </label> *@

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic7">Stof : </span>
            </div>
            <input type="text" id="r1" class="form-control" asp-for="Narudzbina.NarucenStof.Naziv" aria-describedby="basic7" disabled>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic7">Tip stofa : </span>
            </div>
            <input type="text" id="r1" class="form-control" asp-for="Narudzbina.NarucenStof_.SifraStofa" aria-describedby="basic7" disabled>
        </div>


        <input style="float: right; margin-top: 10px;" type="submit" class="btn btn-warning" value="Prihvati" asp-page-handler="Prihvati">
        <input style="float: right; margin-top: 10px;" type="submit" class="btn btn-warning" value="Odbij" asp-page-handler="Odbij">
        <input style="float: right; margin-top: 10px;" type="submit" class="btn btn-warning" value="Isporuceno" asp-page-handler="Isporuceno">
        @* </div>
        </div> *@




</form>

