@page
@model WEBFurniTOOLS.Pages.KupacRP.NarudzbenicaModel
@section ImeKupca{
  @Model.getUserString("imeKupca") @Model.getUserString("prezimeKupca")
  
}
@section MailKupca{
 @Model.getUserString("emailKupca") 
}
@{
     Layout="_LayoutKupac";
}
<style>
        h1{
        @* margin-left: 40%; *@
        margin-top: 5%;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
<form method="post">
    
    <input  style="float: right;" type="hidden" asp-for="idKupac">   
    <input  style="float: right;" type="hidden" asp-for="ProizvodID">   
    <input  style="float: right;" type="hidden" asp-for="ProdavacID">    
    <input  style="float: right;" type="hidden" asp-for="Ja.Adresa">
    <input  style="float: right;" type="hidden" asp-for="Ja.BrojTelefona">
    <input  style="float: right;" type="hidden" asp-for="Ja.Email">
    <input  style="float: right;" type="hidden" asp-for="Ja.Grad">
    <input  style="float: right;" type="hidden" asp-for="Ja.Ime">
    <input  style="float: right;" type="hidden" asp-for="Ja.Prezime">
    <input  style="float: right;" type="hidden" asp-for="Ja.Sifra">
    <input  style="float: right;" type="hidden" asp-for="Proizvod.Naziv">
    <input  style="float: right;" type="hidden" asp-for="Proizvod.PovrsinaMaterijala">
    <input  style="float: right;" type="hidden" asp-for="Proizvod.Sifra">
    <input  style="float: right;" type="hidden" asp-for="Proizvod.URLSlike">
    <input  style="float: right;" type="hidden" asp-for="Proizvod.VisinaBaze">
    <input  style="float: right;" type="hidden" asp-for="Proizvod.VisinaNaslona">
    <input  style="float: right;" type="hidden" asp-for="Proizvod.CenaPoKomadu">
    <input  style="float: right;" type="hidden" asp-for="Proizvod.MojProdavac_.Firma">
    <input  style="float: right;" type="hidden" asp-for="Proizvod.MojProdavac_.Ime">
    <input  style="float: right;" type="hidden" asp-for="Proizvod.MojProdavac_.Prezime">
@* <div style="display:flex;flex-direction: row;">
    <div style="display:flex;flex-direction: column; margin-left: 10%; width: 250px;margin-top: 15%;">     
        <img src="@Model.Proizvod.URLSlike" width="400px" height="300px">
    </div> *@

    @* <div style="display:flex;flex-direction: column; margin-left: 30%; width: 250px;"> *@
    <div class="container">
            <h1>Moja narudzbina</h1>
     <img src="@Model.Proizvod.URLSlike" class="img-fluid" alt="Responsive image">  
     <div></div> 

    <div id="sakriven" asp-validation-summary="All"></div>
    <div>@Model.ErrorMessage</div>  

    <div style="margin-top: 10px" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic1">Naziv proizvoda : </span>
        </div>
        <input type="text" class="form-control" asp-for="Proizvod.Naziv"  aria-describedby="basic1" disabled>
    </div>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic2">Firma : </span>
        </div>
        <input type="text" class="form-control" asp-for="Proizvod.MojProdavac_.Firma"  aria-describedby="basic2" disabled>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic3">Ime vlasnika : </span>
        </div>
        <input type="text" class="form-control" asp-for="Proizvod.MojProdavac_.Ime"  aria-describedby="basic3" disabled>
    </div>



    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic333">Visina baze : </span>
        </div>
        <input type="text" class="form-control" asp-for="Proizvod.VisinaBaze"  aria-describedby="basic333" disabled>
    </div>    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic3333">Visina naslona : </span>
        </div>
        <input type="text" class="form-control" asp-for="Proizvod.VisinaNaslona"  aria-describedby="basic3333" disabled>
    </div>



    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic4">Prezime vlasnika : </span>
        </div>
        <input type="text" class="form-control" asp-for="Proizvod.MojProdavac_.Prezime"  aria-describedby="basic4" disabled>
    </div>

    <input  style="float: right;" type="hidden" value="Korpa" asp-for="Narudzbina.Status">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic5">Kolicina : </span>
        </div>
        <input type="number" class="form-control" asp-for="Narudzbina.Kolicina" value="1" min="1"  aria-describedby="basic5" >
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic6">Rok potvrde : </span>
        </div>
        <input type="date" id="r2" class="form-control" asp-for="Narudzbina.RokZaPotvrdu" aria-describedby="basic6">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic7">Krajnji rok isporuke : </span>
        </div>
        <input type="date" id="r1" class="form-control" asp-for="Narudzbina.KrajnjiRokIsporuke" aria-describedby="basic7">
    </div>

    @* <label style="float: right;" >Štof: </label> *@
    <div class="input-group-prepend">
            <span class="input-group-text">Stof : </span>
        </div>
    <select id="id_select2_example" aria-placeholder="--- Izaberite ---" style="width: 300px; height: 100px;" asp-for="@Model.IzabraniStofID">
    @if(Model.Stofovi!=null && Model.Stofovi.Count!=0)
    {
        foreach (var item in Model.Stofovi)
        {
            @if(item.MojiTipovi!=null && item.MojiTipovi.Count!=0)                        
            @foreach (var i in item.MojiTipovi)
            {
                <option data-img_src="@item.URLSlike" value="@i.ID">@item.Naziv - @i.SifraStofa</option>
            }         
        }
    }
    </select>
    <input style="float: right; margin-top: 10px;" type="submit" class="btn btn-warning" value="Stavi u korpu" asp-page-handler="StaviUKorpu">
    @* </div>
</div> *@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
<script type="text/javascript">
    function custom_template(obj){
            var data = $(obj.element).data();
            var text = $(obj.element).text();
            if(data && data['img_src']){
                img_src = data['img_src'];
                template = $("<div><img src=\"" + img_src + "\" style=\"width:100%;height:150px;\"/><p style=\"font-weight: 700;font-size:14pt;text-align:center;\">" + text + "</p></div>");
                return template;
            }
        }
    var options = {
        'templateSelection': custom_template,
        'templateResult': custom_template,
    }
    $('#id_select2_example').select2(options);
    $('.select2-container--default .select2-selection--single').css({'height': '220px'});

</script>


</form>
    <script>
        var r1=document.getElementById("r1");
        var r2= document.getElementById("r2");
        r2.min="@DateTime.Now.Date";
        r2.onchange=function(){
                    
            var datum=@DateTime.Now.Year+"-";
            if(@DateTime.Now.Month<10)
                datum+="0"+@DateTime.Now.Month;
            else
                datum+=@DateTime.Now.Month;
            datum+="-";
            if(@DateTime.Now.Day<10)
                datum+="0"+@DateTime.Now.Day;
            else
                datum+=@DateTime.Now.Day;
            if(r2.value<datum)
                r2.value=datum;
            r1.value=r2.value;
            r1.min=r2.value;
        }
        var datum=@DateTime.Now.Year+"-";
            if(@DateTime.Now.Month<10)
                datum+="0"+@DateTime.Now.Month;
            else
                datum+=@DateTime.Now.Month;
            datum+="-";
            if(@DateTime.Now.Day<10)
                datum+="0"+@DateTime.Now.Day;
            else
                datum+=@DateTime.Now.Day;
        r2.min=datum;
        r1.value=datum;
        r2.value=datum;
    </script>

    @if(@Model.Ucitano==false)
    {
    <script>
        var nesto = document.getElementById("sakriven");
        nesto.innerText="";
    </script>
    Model.Ucitano=true;
    }
